<h1 style="color: rgb(255, 255, 255)"align="center"><b>REGISTER FOR A COURSE</b></h1>
<br><br>
<div class="container">
    <div class="row">  
        <form #addcourse="ngForm" (ngSubmit)="Addcourse()">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label" style="color: blueviolet"><b>Course Title</b></label>
                <input type="text" class="form-control" [(ngModel)]="course.courseTitle" name="courseTitle">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label" style="color: blueviolet"><b>Duration</b></label>
                <input type="text" class="form-control" [(ngModel)]="course.courseDuration" name="courseDuration">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label" style="color: blueviolet"><b>Description</b></label>
                <textarea name="" id="" cols="30" rows="10" class="form-control" [(ngModel)]="course.courseDescription" name="courseDescription"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label" style="color: blueviolet"><b>Venue</b></label>
                <input type="text" class="form-control" [(ngModel)]="course.courseVenue" name="courseVenue">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label" style="color: blueviolet"><b>Date</b></label>
                <input type="date" name="" id="" class="form-control" [(ngModel)]="course.courseDate" name="courseDate">
                </div>
                <div align="center"class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <Button class="btn btn-light" style="color: blueviolet"><b>REGISTER</b></Button>
                </div>
            </div>
        </div>
       </form>
    </div>
</div>
