<h1 align="center" style="color:blueviolet">NAVIGATION</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <!-- As a heading -->
  <nav class="navbar bg-light">
    <div style="background-color:blueviolet" class="container-fluid">
      <span class="navbar-brand mb-0 h1" style="color: rgb(255, 255, 255)"><b>OPTIONS</b></span>
    </div>
  </nav>
                    <!-- As a link -->
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><b>View Courses</b></a>
    </div>
  </nav>
                     <!-- As a link -->
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/addcourse"><b>Add a Course</b></a>
    </div>
  </nav>
  
  
                </div>
            </div>
        </div>
    </div>
</div>
